# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editors
.vscode/
.idea/
*.swp
*~

# R
.Rhistory
.Rapp.history
.RData
.Ruserdata
*.Rproj.user/
.Renviron

# Jupyter
.ipynb_checkpoints/

# Python (in case of mixed envs)
__pycache__/
*.pyc
.venv/
venv/

# Logs / temp
*.log
tmp/
